<link rel="stylesheet" href="/stylesheet/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="footer-container">
    <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=61574421845719"><i class="fab fa-facebook"></i></a>
        <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
       
        <a href="https://www.instagram.com/gyanbhoomi_?igsh=ZHB3aWprc2Fra3Jn"><i class="fab fa-instagram"></i></a>
        <a href="https://youtube.com/@gyanbhoomischooldobhi?si=4edQSUf0XxI8SBeY"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-snapchat"></i></a>

    </div>
    <div class="contact-info">
        <p> Created & Maintained by <span> RaZZ Patel</span>
            <img src="/img/razz.jpg" alt="Website Creator" class="creator-photo">

        </p>

    </div>
</div>

<body>
    <div class="cccontainer">
        <h2>Contact Us</h2>
        <p class="contact-info"><strong>Email:</strong> gyanbhoomischool@gmail.com</p>
        <p class="contact-info"><strong>Phone:</strong> +919827380701</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3669.4411088519564!2d78.9200276!3d23.1175465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397f0e9be8e28767%3A0x5ae5220f242d2eda!2sGyanbhumi%20Public%20School%20Dobhi!5e0!3m2!1sen!2sin!4v1743696633991!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_QEvrZRT56j4oqV" async> </script> </form> -->
</body>



