<!DOCTYPE html>
<html>
<head>
  <title>Submit Blog</title>
</head>
<body>
  <h1>Add a New Blog</h1>
  <form action="/blogs" method="POST">
    <label>Student Full name</label><br />
    <input type="text" name="name" ><br /><br />
    
    <label>Father name</label><br />
    <input type="text" name="father"><br /><br />

        
    <label>Mother name</label><br />
    <input type="text" name="mother" ><br /><br />

        
    <label>Address</label><br />
    <input type="text" name="address"  ><br /><br />
        
    <label>contact number</label><br />
    <input type="number" name="number"  ><br /><br />
    
    <button type="submit">Submit</button>
  </form>
</body>
</html>
