<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>
<body class="login-body">
    <h1 class="login-title">Login</h1>
    <form class="login-form" action="/login" method="POST">
        <input type="email" name="email" placeholder="Email" required class="login-input"><br>
        <input type="password" name="password" placeholder="Password" required class="login-input"><br>
        <button type="submit" class="login-button">Login</button>
    </form>
    <p class="signup-link">Don't have an account? <a href="/signup" class="signup-anchor">Signup</a></p>
</body>
</html>
