<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>
<body class="signup-body">
    <h1 class="signup-title">Signup</h1>
    <form class="signup-form" action="/signup" method="POST">
        <input type="text" name="name" placeholder="Name" required class="signup-input"><br>
        <input type="email" name="email" placeholder="Email" required class="signup-input"><br>
        <input type="password" name="password" placeholder="Password" required class="signup-input"><br>
        <button type="submit" class="signup-button">Signup</button>
    </form>
    <p class="login-link">Already have an account? <a href="/login" class="login-anchor">Login</a></p>
</body>
</html>
